@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #26284e;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 88;
}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
nav a{
    font-size: 18px;
    color: #fff;
    opacity: .6;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
}
nav a:hover, nav a.active{
    color: white;
    opacity: 1;
}
.social-media{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #cac5c542;
    text-decoration: none;
}
.social-media a:hover:nth-child(1){
    color: #1DA1F2;
}
.social-media a:hover:nth-child(2) {
    color: #4267B2;
}
.social-media a:hover:nth-child(3){
    color: #E1306C;
  }